doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="robots", content="index,follow")
        title Walletnotes
        link(href="bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon" href="favicon.ico")
    body
        .wrapper
            header.navbar.navbar-fixed-top(role="navigation")
                .container
                    .navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a#logo.navbar-brand(href="index.html")
                            img(src="img/logo.png", alt="Walletnotes logo", title="Walletnotes")
                    .navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a(href="index.html") HOME
                            li
                                a(href="create.html") CREATE
                            li.active
                                a(href="redeem.html") REDEEM
            .steps    //-(hidden="")
                .container
                    //-.stepDots
                        div
                            i.dot-icon.dot-inactive
                                i
                        div
                            i.dot-icon.dot-inactive
                                i
                        div
                            i.dot-icon
                                i
                        div
                            i.dot-icon.dot-inactive
                                i
                    .col-xs-12
                        .row
                            h1 REDEEM TO ADDRESS
                    .col-xs-12
                        div.greenLine
                    .col-xs-12
                        p.orangeText
                            | Well done! Walletnote was redeemed sucsessfully
                        div.trackRedeem
                            | You <a href="#" class="green">can track redeem transaction here</a>
                    .col-xs-12.text-center
                        input#submit.btn(type="submit", value="CREATE NEW")


        //-#step2.steps(hidden="")
                .container
                    .stepDots
                        div
                            i.dot-icon.dot-inactive
                                i
                        div
                            i.dot-icon
                    .col-xs-12
                        .row
                            h1 SEND BITCOINS
                    .col-xs-12
                        div.greenLine
                    .col-xs-12.col-sm-7
                        h5 <b>Address</b>: <span class="green">1uBRJ5Rtoe4ZA3dqQJkj9U8KHVePMMs7o</span>
                        h5 <b>Amount</b>: 1001 mB (miner's fee included)
                        .walletDetails
                            h3 Wallet details
                            h4 <b>S/N</b>: AAA 0000 0000 0000 0000
                            h4 <b>PIN</b>: 00000000
                    .col-xs-12.col-sm-5.qr
                        #qr_code
                        .qtDetails
                            p Scan this QR-code with your mobile wallet
                                | or
                                a(href='#')  click here
                                | to use your desctop wallet
                    .col-xs-12.printOut
                        p Payment must be completed within 20 minutes. <br> After payment, print out your walletnote!
                        a.btn(href="#" onclick="return false;" data-toggle="modal" data-target="#print-walletnote") PRINT
                            .push.create-push
    .bottomLine.bottomLine-create
        .bl-block
            .col-xs-12.col-sm-3.copyright © 2014 Walletnotes
            .col-xs-12.col-sm-6.support
                a.bitcoin-address(data-contentwrapper="#qr-addres-donate", rel="popover", data-amount="$10", href="bitcoin:19EYNZQHJceKEqejA2M1Hp9jsQ73yuNyZU") Support the project:
                    span.bitlink  19EYNZQHJceKEqejA2M1Hp9jsQ73yuNyZ
                .qrSupport
                    img(src="img/qrSup.png")
            .col-xs-12.col-sm-3.social
                a.mail(href="#contactModal" data-toggle="modal")
                a.face(href="#")
                a.twit(href="#")
    #contactModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", style="")
        .modal-dialog
            .modal-content.contactUs
                span.require
                    span.require-red *
                    | required fields
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4#myModalLabel.modal-title Contact us
                .modal-body.clearfix
                    #registerModalerror(style="display: none;")
                    form#form-contact(enctype="multipart/form-data", method="post")
                        .row-fluid
                            label(for="message-text") Your message
                                span.require-red *
                            p
                                textarea#message-text.form-control(cols="80", rows="8", name="message")
                            label(for="message-name") Your name
                            p
                                input#message-name.form-control(type="text", name="name", size="20", maxlength="255", value="")
                            label(for="message-email") Your email
                            p
                                input#message-email.form-control(type="text", name="email", size="20", maxlength="255", value="")
                        .modal-footer
                            button#registerModalsubmit.btn(type="submit", name="send_message", style="margin-top: 0;") Submit

    //script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="js/jquery-1.11.1.min.js")
    script(src="js/TweenMax.min.js")
    script(src="js/jquery.qrcode-0.8.0.min.js")
    script(src="bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="js/jquery.superscrollorama.js")
        //<script src="inc/TimeCircles.js"></script>
        <script src="js/jspdf.min.js"></script>
        <script src="js/md5-min.js"></script>
    script(src="js/main.js")